{
  "semi": true,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "bracketSameLine": true,
  "arrowParens": "always",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "endOfLine": "auto",
  "trailingComma": "all",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto"
}
